/* Use your own code or past solution for Great Idea Web Page CSS here! */
* {
    box-sizing: border-box;
}
body {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bangers'
}
.container {
    max-width: 1000px;
    width: 100%;
    margin: 0px;
}

.container header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.container header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.container header img {
    margin-right: 50px;
}

.container header nav a {
    color: gray;
    text-decoration: none;
}

.cta {
    display: flex;
    width: calc(100%-30px);
    justify-content: space-around;
    margin: 30px;
}

.container .cta .cta-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.2rem;
}

.container .cta .code-snippet {
    width: 40%;
    margin: 30px 50px 30px 30px;
}

.container .cta .cta-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.2rem;
}

.container .cta .cta-text button {
    width: 60%;
    height: 40px;
    font-size: 1.0rem;
    background-color: transparent;
    border: 1px solid black;
}
.container .main-content {
    width: 100%;
    padding: 15px;
    border-top: 1px solid black;
}
.container .main-content .top-content {
    display: flex;
    justify-content: space-between;
}

.container .main-content .middle-img {
    width: calc(100%)
}

.container .main-content .bottom-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid black;
}

.container .main-content .bottom-content .text-content {
    width: 33%;
    padding: 0px 15px;
    margin: 0px;
}


.container footer {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}

.container .contact {
    margin: 20px 15px;
}


@media only screen and (max-width: 800px) {

    .container header {
        display: flex;
        flex-direction: column-reverse;
    }

    .container header img {
        width: 35%;
        display: flex;
        align-self: center;
        margin: 40px 0px;
    }

    .container header nav {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .container .cta {
        padding: 0px;
        margin: 30px 0px;
    }
    .container .cta .code-snippet {
        display: none;
    }

    .container .cta .cta-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 2.2rem;
    }

    .container .cta .cta-text button {
        width: 50%;
        height: 40px;
        font-size: 1.0rem;
        background-color: transparent;
        border: 1px solid black;
    }

    .container .cta .cta-text button:hover {
        border: 1px solid white;
        background-color: black;
        color: white;
        cursor: pointer;
    }

    .container .main-content {
        width: 100%;
        padding: 15px;
        border-top: 1px solid black;
    }
    .container .main-content .top-content {
        display: flex;
        justify-content: space-between;
    }

    .container .main-content .top-content .text-content {
        width: 50%;
        padding: 0px 15px;
        margin: 0px;
    }

    .container .main-content .middle-img {
        width: calc(100%)
    }

    .container .main-content .bottom-content {
        display: flex;
        justify-content: space-between;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid black;
    }

    .container .main-content .bottom-content .text-content {
        width: 33%;
        padding: 0px 15px;
        margin: 0px;
    }

    .container .contact {
        margin: 20px 15px;
    }


}

@media only screen and (max-width: 500px) {

    .container header img {
        width: 50%;
        margin: 20px 15px;
    }

    .container header nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
    }

    .container header nav a {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .container header nav a:nth-child(2), a:nth-child(3), a:nth-child(4), a:nth-child(5), a:nth-child(6){
        border-top: 1px solid gray;
    }

    .container .cta {
        display: flex;
        padding-bottom: 50px;
        border-bottom: 1px solid black;
    }

    .container .cta .cta-text {
        width: 100%;
    }

    .container .cta .cta-text button {
        width: 50%;
    }

    .container .main-content {
        width: 100%;
    }

    .container .main-content .top-content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .container .main-content .top-content .text-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0px 15px;
    }

    .container .main-content .middle-img {
        width: calc(100%-30px);
    }

    .container .main-content .bottom-content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .container .main-content .bottom-content .text-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0px 15px;
    }

    .container .main-content .bottom-content:last-child {
        border-bottom: 1px solid black;
    }

    .container .contact {
        margin: 20px 15px;
    }

}

